body{
    margin: 0;
    height: 100vh;
    }


   
.topnav {
    overflow: hidden;
    background-color: blue;
    height: 11%;
}
.topnav a{
    float: left;
    color: white;
    text-align: center;
    padding: 25px 25px;
    text-decoration: none;
    font-size: 25px;
}
.topnav a:hover{
    background-color: blue;
    color: wheat;
}
.topnav a.active{
    background-color: white;
    color: white;
    padding:8px 12px;
    font-size: 10px;
}
header{
    margin-bottom:0;
    height:10%; 
    width:100%;
    background-color:blue;
}
.topnav input[type=text]{
    float: right;
    padding: 12px;
    border: none;
    margin-top: 14px;
    margin-right: 16px;
    font-size: 20px;
}
.topnav input[type=text]{
    border: 2px solid black;
}
.round {
    width: 20%;
    border-radius: 15px;
    border: 1px #000 solid;
    padding: 5px 5px 5px 25px;
    position: right;
    
    top: 0;
    left: 0;
    z-index: 5;
}

.corner {
    position: absolute;
    top: 3px;
    left: 5px;
    height: 20px;
    width: 20px;
    z-index: 10;
    border-radius: 10px;
    border: none;
    background: #000; /* Set the bg image here. with "no-repeat" */
}

.search {
    position: relative;
    width: 19px;
    height: 30px;
}
p{
    background-image: url('stamford_bridge.jpg');
    background-size: 1445px 650px;
    padding: 30px;
    color: white;
    height: 70%;
    transform: translateY(-3%);
    text-align:center;
    vertical-align:middle;
    font-size: larger;
}